@media(min-width: 1131px) and (max-width: 1400px){
body{
    background-color:gray;
    font-family: 'Courier New', Courier, monospace;
    border-style: inset;
    padding: 20px 20px;
    border-radius: 30px;
}
nav{
    text-align: end;
    justify-content: center;
    display: flex;
}
h1{
    color:aliceblue;
    border-radius: 20px 20px;
    padding: 20px;
    background-color: black;
    border-style: inset;
    text-align: center;
}
ul{
    display:block;
    background-color: aliceblue;
    padding: 10px 20px;
    border-radius: 20px;
    a{
        text-decoration: none;
    }
}
div{
    color:aliceblue;
    justify-content: center;
    text-align: center;
    background-color:black;
    border-radius: 20px;
    padding: 10px 10px;
    border-style: inset;
    height: auto;
}

.container1{
    display:flex;
    justify-content: center;
    align-items: center;
    height: auto;
    border-style: inset;
    padding: 20px 20px;
    .item1{
        flex:1;
        width:auto;
        height:200px;
        background-color: black;
        border-radius: 30px;
    }
    .item2{
        flex:1;
        width:auto;
        height:200px;
        background-color: black;
    }
}
.container2{
    display:flex;
    justify-content: center;
    align-items: center;
    height: auto;
    border-style: inset;
    padding: 20px 20px;
    .item1{
        flex:1;
        width:auto;
        height:200px;
        background-color: black;
        border-radius: 30px;
    }
    .item2{
        flex:1;
        width:auto;
        height:200px;
        background-color: black;
    }
}
.container3{
    display:flex;
    justify-content: center;
    align-items: center;
    height: auto;
    border-style: inset;
    padding: 20px 20px;
    .item1{
        flex:1;
        width:auto;
        height:200px;
        background-color: black;
        border-radius: 30px;
    }
    .item2{
        flex:1;
        width:auto;
        height:200px;
        background-color: black;
    }
}
.container4{
    display:flex;
    justify-content: center;
    align-items: center;
    height: auto;
    border-style: inset;
    padding: 20px 20px;
    .item1{
        flex:1;
        width: auto;
        height: 330px;
        background-color: black;
        border-radius: 30px;
    }
}
h3{
    border-style: inset;
    border-radius: 10px 10px;
    padding: 10px;
    background-color: gray;
}
img{
    border-radius: 20px;
}
}
@media(max-width: 1130px){
    body{
    background-color:gray;
    font-family: 'Courier New', Courier, monospace;
    border-style: inset;
    padding: 20px 20px;
    border-radius: 30px;
}
nav{
    text-align: end;
    justify-content: center;
    display: flex;
}
h1{
    color:aliceblue;
    border-radius: 20px 20px;
    padding: 20px;
    background-color: black;
    border-style: inset;
    text-align: center;
}
ul{
    display:block;
    background-color: aliceblue;
    padding: 10px 20px;
    border-radius: 20px;
    a{
        text-decoration: none;
    }
}
div{
    color:aliceblue;
    justify-content: center;
    text-align: center;
    background-color:black;
    border-radius: 20px;
    padding: 10px 10px;
    border-style: inset;
    height: auto;
}
h3{
    border-style: inset;
    border-radius: 10px 10px;
    padding: 10px;
    background-color: gray;
}
img{
    width: 270px;
    height: 80px;
    border-radius: 20px;
}
}