@media(min-width: 769px) and (max-width: 1400px){
body{
    background-color: gray;
    font-family: 'Courier New', Courier, monospace;
    border-style: inset;
    padding: 20px 20px;
    border-radius: 30px;
}
nav{
    text-align: end;
    justify-content: center;
    display: flex;
}
h1{
    color:aliceblue;
    border-radius: 20px 20px;
    padding: 20px;
    background-color: black;
    border-style: inset;
    text-align: center;
}
ul{
    display:block;
    background-color: aliceblue;
    padding: 10px 20px;
    border-radius: 20px;
    a{
        text-decoration: none;
    }
}
.bruh{
    color:aliceblue;
    justify-content: center;
    text-align: center;
    background-color: black;
    border-radius: 20px;
    padding: 10px 10px;
    border-style: inset;
}
.container1{
    color:aliceblue;
    justify-content: center;
    text-align: center;
    background-color: black;
    border-radius: 20px;
    padding: 10px 10px;
    border-style: inset;
    display: flex;
}
 .item1{
        flex:1;
        width:auto;
        height:auto;
        background-color: black;
        border-radius: 30px;
        text-align: center;
 }
  .item2{
        flex:1;
        width:auto;
        height:auto;
        background-color: black;
    }
 .container2{
    color:aliceblue;
    justify-content: center;
    text-align: center;
    background-color: black;
    border-radius: 20px;
    padding: 10px 10px;
    border-style: inset;
    display: flex;
}
 .item1{
        flex:1;
        width:auto;
        height:auto;
        background-color: black;
        border-radius: 30px;
        text-align: center;
 }
  .item2{
        flex:1;
        width:auto;
        height:auto;
        background-color: black;
    }
 .container3{
    color:aliceblue;
    justify-content: center;
    text-align: center;
    background-color: black;
    border-radius: 20px;
    padding: 10px 10px;
    border-style: inset;
    display: flex;
}
 .item1{
        flex:1;
        width:auto;
        height:auto;
        background-color: black;
        border-radius: 30px;
        text-align: center;
 }
  .item2{
        flex:1;
        width:auto;
        height:auto;
        background-color: black;
        margin-top: 80px;
    }
    .container4{
    color:aliceblue;
    justify-content: center;
    text-align: center;
    background-color: black;
    border-radius: 20px;
    padding: 10px 10px;
    border-style: inset;
    display: flex;
}
 .item1{
        flex:1;
        width:auto;
        height:auto;
        background-color: black;
        border-radius: 30px;
        text-align: center;
 }
  .item2{
        flex:1;
        width:auto;
        height:auto;
        background-color: black;
        margin-top: 80px;
    }
    img{
    background-color: black;
    border-radius: 20px;
    padding: 10px 10px;
    margin: 10px;
    max-width: auto;
    height: auto;
    border-style: inset;
}
}
@media(max-width: 768px){
    body{
    background-color: gray;
    font-family: 'Courier New', Courier, monospace;
    border-style: inset;
    padding: 20px 20px;
    border-radius: 30px;
}
nav{
    text-align: end;
    justify-content: center;
    display: flex;
}
h1{
    color:aliceblue;
    border-radius: 20px 20px;
    padding: 20px;
    background-color: black;
    border-style: inset;
    text-align: center;
}
ul{
    display:block;
    background-color: aliceblue;
    padding: 10px 20px;
    border-radius: 20px;
    a{
        text-decoration: none;
    }
}
.container1{
    color:aliceblue;
    justify-content: center;
    text-align: center;
    background-color: black;
    border-radius: 20px;
    padding: 10px 10px;
    border-style: inset;
}
.container2{
    color:aliceblue;
    justify-content: center;
    text-align: center;
    background-color: black;
    border-radius: 20px;
    padding: 10px 10px;
    border-style: inset;
}
.container3{
    color:aliceblue;
    justify-content: center;
    text-align: center;
    background-color: black;
    border-radius: 20px;
    padding: 10px 10px;
    border-style: inset;
}
.container4{
    color:aliceblue;
    justify-content: center;
    text-align: center;
    background-color: black;
    border-radius: 20px;
    padding: 10px 10px;
    border-style: inset;
}
.bruh{
    color:aliceblue;
    justify-content: center;
    text-align: center;
    background-color: black;
    border-radius: 20px;
    padding: 10px 10px;
    border-style: inset;
}
img{
    background-color: black;
    border-radius: 20px;
    padding: 10px 10px;
    margin: 10px;
    max-width: auto;
    height: auto;
    border-style: inset;
}
}